<div>
    <ul>
        <li ng-repeat="info in list" ng-class="info.class" class="row myBtn" style="padding: 10px 0" >
            <!--头像-->
            <div class="col-xs-3" ng-click="getPlayerInfo(info.p_uId)">
                <img class="p_user_head" ng-src="{{info.head}}">
            </div>
            <!--介绍-->
            <div class="col-xs-9">
                <div class="row" style="margin-right: 1px;">
                    <!--昵称 身份-->
                    <h4 style="margin: 1px;">
                        <span ng-bind="info.userName"></span>
                        <span class="btn btn-success" style="font-size: 11px;float: right;padding: 5px;" ng-click="playerPay(info.p_uId)">
                            给TA充值
                        </span>
                    </h4>

                    <!--玩家/用户ID-->
                    <p style="margin: 4px 1px 1px 1px" class="text-muted">
                        用户ID:<span ng-bind="info.p_uId"></span>
                        <span class="my_table_left_line"></span>已购:<span class="text-danger" ng-bind="info.money"></span>

                    </p>
                    <!--代理商ID-->
                    <p style="margin:0" class="text-muted" ng-show="info.aUserName?true:false">
                        代理商:<span ng-bind="info.aUserName"></span>
                        <span class="my_table_left_line"></span>
                        代理商ID:<span ng-bind="info.a_uId"></span>
                    </p>
                    <!--创建时间-->
                    <p class="text-muted" style="margin: 0;">
                        订单:<span ng-bind="info.id"></span>
                        <span class="my_table_left_line"></span>
                        <span class="glyphicon glyphicon-time text-success"> </span>
                        <span ng-bind="info.createTime"></span>
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>