<div >
    <ul>
        <li ng-repeat="info in list" ng-class="info.class" class="row" style="padding: 10px 0" ng-click="userInfo(info.id)">
            <!--头像-->
            <div class="col-xs-3">
                <img style="width: 100%;" src="image/head/1.png">
            </div>
            <!--介绍-->
            <div class="col-xs-8">
                <div class="row">
                    <!--昵称 身份-->
                    <h4 style="margin: 1px;">
                        <span ng-bind="info.name"></span>
                        （<span ng-bind="getLevelName(info.grade)"></span>）
                    </h4>
                    <!--ID-->
                    <p class="text-muted" style="margin: 5px 1px 1px 1px">
                        ID:<span ng-bind="info.id"></span>
                    </p>
                    <!--手机号码-->
                    <p class="text-muted">
                        手机号:<span ng-bind="info.phone"></span>
                    </p>
                </div>
            </div>
        </li>
    </ul>

    <p style="width: 100%;text-align: center;color: #ccc;margin-top: 20px;" class="my_font2">--我是有底线的哦--</p>
</div>