<!--列表-->
<div style="margin-bottom: 40px;">
    <table class="table my_table" style="table-layout:fixed;">
        <thead>
        <tr role="row" class="my_table_tr" ng-class="table_class">
            <th style="width:80px;text-align: center;">编号</th>
            <th style="width:180px;">个人信息</th>
            <th style="width:120px;">身份</th>
            <th style="width:120px;" class="pc_add">原始ID</th>
            <th style="width:120px;" class="pc_add">注册时间</th>
            <th style="width:120px;">{{money_name}}</th>
            <th style="width:120px;text-align: center;" class="pc_add">操作</th>
        </tr>
        </thead>
        <tbody ng-repeat-end="{{renderFinish()}}">
        <tr ng-repeat="info in list" ng-class="info.class" ng-click="userInfo(info.id,1)" >
            <td ng-bind="info.num" class="text-center"></td>
            <td style="display:flex;">
                <div style="float:left;box-flex:1;">
                    <img class="p_user_head " ng-src="{{info.head}}">
                </div>
                <div style="float:left;margin:5px 0 0 20px;">
                    <p ng-bind="info.userName" class="text-primary my_font3" style="box-flex:2;font-weight: bold;margin:0;"></p>
                    ID:<span ng-bind="info.binding_playerId"></span>
                </div>
            </td>
            <td ng-bind="getLevelName(info.grade)"></td>
            <td class="pc_add" ng-bind="info.id"></td>
            <td class="pc_add" ng-bind="info.createTime"></td>
            <td ng-bind="info.money"></td>
            <td class="pc_add table_btn_tool" style="vertical-align:middle;">
                <span ng-click="userInfo(info.binding_playerId)" data-toggle="game_SMC_tooltip" data-placement="top" title="查看详情">
                    <i  class="my_font3 glyphicon glyphicon-cog text-primary"></i>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="width: 100%;text-align: center;color: #ccc;" class="my_font2">--我是有底线的哦--</p>
</div>